<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">

  <title>{{Publicatie Titel}}</title>

  <link rel="stylesheet" href="app.min.css">
  <script src="app.min.js" type="text/javascript"></script>
</head>
<body>
  <div id="flipbook" class="sample-flipbook">
  	<div class="hard">
      <img src="img/page01.jpg" />
    </div>
  	<div class="hard">
      <img src="img/page02.jpg" />
    </div>
  	<div>
      <img src="img/page03.jpg" />
    </div>
  	<div>
      <img src="img/page04.jpg" />
    </div>
  	<div>
      <img src="img/page05.jpg" />
    </div>
  	<div>
      <img src="img/page06.jpg" />
    </div>
  	<div>
      <img src="img/page07.jpg" />
    </div>
  	<div>
      <img src="img/page08.jpg" />
    </div>
  	<div>
      <img src="img/page09.jpg" />
    </div>
  	<div>
      <img src="img/page10.jpg" />
    </div>
  	<div>
      <img src="img/page11.jpg" />
    </div>
  	<div>
      <img src="img/page12.jpg" />
    </div>
  	<div>
      <img src="img/page13.jpg" />
    </div>
  	<div>
      <img src="img/page14.jpg" />
    </div>
  	<div>
      <img src="img/page15.jpg" />
    </div>
  	<div>
      <img src="img/page16.jpg" />
    </div>
  	<div>
      <img src="img/page17.jpg" />
    </div>
  	<div>
      <img src="img/page18.jpg" />
    </div>
  	<div>
      <img src="img/page19.jpg" />
    </div>
  	<div>
      <img src="img/page20.jpg" />
    </div>
  	<div>
      <img src="img/page21.jpg" />
    </div>
  	<div>
      <img src="img/page22.jpg" />
    </div>
  	<div>
      <img src="img/page23.jpg" />
    </div>
  	<div>
      <img src="img/page24.jpg" />
    </div>
  	<div>
      <img src="img/page25.jpg" />
    </div>
  	<div>
      <img src="img/page26.jpg" />
    </div>
  	<div>
      <img src="img/page27.jpg" />
    </div>
  	<div>
      <img src="img/page28.jpg" />
    </div>
  	<div>
      <img src="img/page29.jpg" />
    </div>
  	<div>
      <img src="img/page30.jpg" />
    </div>
  	<div>
      <img src="img/page31.jpg" />
    </div>
  	<div>
      <img src="img/page32.jpg" />
    </div>
  	<div class="hard">
      <img src="img/page33.jpg" />
    </div>
  	<div class="hard">
      <img src="img/page34.jpg" />
    </div>
  </div>
  <script type="text/javascript">
    var aspectRatio = 1654 / 2339 // pageWidth / pageHeight
    var height = 0.9 // 90% of the window height

  	$("#flipbook").turn({
  		width: Math.floor(window.innerHeight * aspectRatio) * (height * 2),
  		height: window.innerHeight * height,
  		autoCenter: true
  	});

    // Change to https automatically
    var isDev = window.location.href.indexOf('localhost') > -1
    isDev = isDev ? isDev : window.location.href.indexOf('127.0.0.1') > -1

    if (window.location.href.indexOf('https') === -1 && !isDev) {
      window.location = window.location.href.replace('http:', 'https:')
    }
  </script>
</body>
</html>
